/*  -------------------------------------------------------------------------------------  */
/*  ---  Desktop and tablet layout              -----------------------------------------  */
/*  -------------------------------------------------------------------------------------  */
/*  ---  Min width: 1000px                      -----------------------------------------  */

@media only screen and (min-width: 768px) {
  

}

/*  -------------------------------------------------------------------------------------  */
/*  ---  Min width: 768px / Max width: 991px    -----------------------------------------  */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* some browsers fix */
  #column-left + #content, #column-right + #content {
	  width:560px;
  }
  
  #column-left + #column-right + #content {
	  width:560px;
  }
  /* homepage */
  .mini-sliders {
    display:none;
  }
  .mini-ads {
    display:none;
  }
  .flexslider {
    width: 100%!important;
  }
  .welcome-buttons {
    display:none;
  }
  
  /* main */
  
  #container {
    width:100%;
    padding-left:0px;
    padding-right:0px;
  }
  
  #content {
    margin-left:10px;
    margin-right:0px;
  }
  
  .success, .warning, .attention, .information {
    z-index:9999;
    width:auto;
    margin-right:10px;
    margin-left:10px;
    position:relative!important;
    
  }

  #column-left + #column-right {
    display:none;
  }
  #column-left + #column-right + #content {
    margin-right:0px;
  }
  
  /* Category */
  
  .category-info .image, .category-info .image img {
    width:300px;
  }
  .category-info .description {
    width:30%!important;
    padding:10px;
  }
  .category-info {
	height:126px;
  }
  .product-grid {
  
    margin:0 auto;
    
  }
  .product-grid .box-product-item {
    margin-right:25px!important;
    margin-left:25px!important;
  }
  
  .product-filter .limit {
    display:none;
  }
  
  .product-filter .sort {
    padding-right:10px;  
  }
  
  .product-list .list-product-item .center-block {
    width: 210px;  
  }
  
  .product-list .list-product-item .right-block {
    width: 148px;
  }

  .product-list .list-product-item .center-block .list-name a, .product-list .list-product-item .center-block .description {
    padding-left:15px;
  }
  
  .product-list .list-product-item .center-block .btn-product {
    margin-left:15px;
  }
  /* header */
  #search input {
    width:100px;  
  }
  
  #header_mainmenu .mm_logo {

    height: 151px;
  }

  #header_mainmenu a.mm_home {
    display:none;
  }
  
  #header_mainmenu a.mm_wishlist, #header_mainmenu a.mm_account, #header_mainmenu a.mm_checkout, #header_mainmenu .mm_shopcart {
    height:30px!important;
    padding-top:29px!important;
    padding-bottom:15px!important;
    background-image:none!important;
    width:25%!important;
    margin-bottom: 3px;
  }
 
  
  #header #cart .content {
    top: 74px;
  }

  /* modules */
  .box-heading {
    margin-left:10px;
    margin-right:10px;
  }
  .caruofredsel .box-product-item {

  }
  /* footer */
  #footer-container {
    width:100%!important;
  }
  #footer-container .footer-about .text {
    width:50%;
  }
  #footer-container .footer-about .social {
    width:40%;
    padding-left:10px;
  }
  #footer {
    width:auto;
  }
  #footer .column:nth-child(1),#footer .column:nth-child(2),#footer .column:nth-child(3) {
    width:18%;
  }
  #footer .column #twitter_update_list {
    width:auto;
  }
  
  
}

/*  -------------------------------------------------------------------------------------  */
/*  ---  Mobile Layout (320px)                  -----------------------------------------  */
/*  -------------------------------------------------------------------------------------  */
/*  ---  Max width: 767px                       -----------------------------------------  */

@media only screen and (max-width: 767px) {
  /* cloud zoom */
  .cloud-zoom-big {
    left:-4px!important;
  }
 
    /* some browsers fix */
  #column-left + #content, #column-right + #content {
	  width:auto;
  }
  
  #column-left + #column-right + #content {
	  width:auto;
  }
  /* homepage */
  .mini-sliders {
    display:none;
  }
  .mini-ads {
    display:none;
  }
  .flexslider {
    width: 100%!important;
  }
  .welcome-buttons {
    display:none;
  }
  
  /* main */  
  #container {
    width:100%;
    padding-left:0px;
    padding-right:0px;
  }
  
  #content {
    margin-left:10px!important;
    margin-right:10px!important;
  }
  
  #menu:not(.custom-menu) {
    display:none;
  }
  
  .breadcrumb {
    margin-top:10px;
  }
 

  #column-left + #column-right + #content {
    margin-right:0px;
  }
  #column-left + #column-right + #content, #column-left + #content,#column-right + #content {
    margin-left:0px;
    margin-right:0px;
  }
  #column-left {
    float:none;
    clear:both;
    width:100%;
    padding-top:10px;
  }
  #column-right {
    float:none;
    clear:both;
    width:100%;
    padding-top:10px;
  }
  #columnt-left .box-content {

  }
  /* product */
  .product-info > .left {
    float:none;
    width:100%;
    margin-right:0px;
    clear:both;
  }
  .product-info .image {
    float:none;
    clear:both;
    width:100%;
    text-align:center;
    width:320px;
    margin:0 auto;
  }
  .product-info .image-additional {
    width:320px;
    margin:0 auto;
  }

  .product-info .zoom {
     margin:0px!important;
     padding:0px!important;
     width:100%!important;
     float:left;
  }
  .product-info .zoom a {
    float:none;
    width:100%;
    padding-top:10px;
    margin:0px;
  }
  .product-info > .left + .right  {
    margin-left:0px;
    float:none;
    clear:both;
  }
  .right .product-list .box-product-item .product-list-buttons {
    width:225px;
    margin-top:10px;
    
  }
  .image-additional-wrapper {
    margin:0 auto;
    width:250px;
    float:none;
  }
  .htabs {
    height:auto;
    
  }
  .htabs a{
    width:auto;
    clear:both;
    border-right-width:1px!important;
    float:none;
    display:block;
    
  }
  /* Category */
  .breadcrumb {
    text-align:center;
  }
  .product-filter .display {
    clear:both!important;
    float:none;
  }
  .product-filter .display b {
    display:none;
  }
  .login-content .left {
    width:100%;
    float:none;
  }
  .login-content .right {
    width:100%;
    float:none;
  }
  .cart-info td.model {
    display:none;
  }
  .limit {
    margin-left:0px!important;
    margin-right:10px;  
  }
  .sort, .limit {
    display: none;
  }

  .product-list .list-product-item .center-block .description {
    padding-right:30px;
  }
  #content h1, #content h2 {
    text-align:center;
  }
  .product-filter .display {
    padding-left:10px;
  }
  .category-list ul {
    margin-left:10px;
  }
  
  .product-list .list-product-item .left-block {
    float:none;
    text-align: center;
    width:auto;
    padding-top:10px;
  }
  
  .product-list .list-product-item .center-block .btn-product  {
    height:35px;
  }
  
  .product-list .list-product-item .center-block  {
    float:none;
    width:auto;
    padding-bottom:0px;
  }
  
  .product-list .list-product-item .right-block {
    float:none;
    width:auto;
  }
  
  .product-list .box-product-item {
    padding-bottom:10px;
    height:auto;
  }
  .product-list-buttons .pbuttons {
    width:47px!important;
  }
  .product-grid {
    width:100%;
    margin:0 auto;
  }
  .product-grid .box-product-item {
    margin:0 auto 10px auto!important;
    
    float:none;
  }
  .product-list .box-product-item .price2 {
    float:none;
    margin:0 auto;
  }
  .product-list .box-product-item .name a {
    margin-left:0px;
    text-align:center;
  }
  .product-list .box-product-item .image {
    float:none;
    margin-bottom:10px;
    width:188px;
    margin:0 auto;
  }
  /* header */
  #language {
    margin-top:4px; 
  }
  .mobile-menu {
    display: block!important;
   
  }
  
  #header_mainmenu .mm_logo {
    width:100%!important;
    text-align:center;
    padding-left:0px;
    padding-right:0px;
    height: 110px;
    float:none;
    margin-bottom: 3px;
  }
  
  #header #cart .content {
    left:0px;

    width:294px!important;
  }
  
  #search input {
    width:200px;  
  }
  
  #header_mainmenu a.mm_home {
    display:none;
    float:none;
    width:100%!important;
    
  }
  
  #header_mainmenu a.mm_wishlist, #header_mainmenu a.mm_account, #header_mainmenu a.mm_checkout, #header_mainmenu .mm_shopcart {
    height:30px!important;
    padding-top:19px!important;
    padding-bottom:5px!important;
    background-image:none!important;
    width:100%!important;
    margin-bottom: 3px;
    float:none;
    text-align:center;
    padding-left:0px;
    padding-right:0px;
  }
  
  #header #cart .content {
    top: 54px;
  }
  
  .box.mobile-menu {
    margin-bottom: 3px;
    padding-top:5px;
  }
  
  .search-bar {
    background-image: none;
    margin-bottom: 3px;
  }
  
  .header_welcome {
    font-size:0px;
  }
  #header #phone {
    display: none;
  }
  
  #content {
    clear:both;
    float:none;
    padding-top:2px;
    
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  
  .success, .warning, .attention, .information {
    width:90%;
    margin:0 auto;
  }
  
  .category-block {
    display: none;
  }
  
 .category-info {
  display: none;
 }
  /* ==== */

  /* modules */
  .box-heading {
    margin-left:10px;
    margin-right:10px;
  }
  .caroufredsel_wrapper .caruofredsel .box-product-item:nth-child(1n),.box-product-item:nth-child(2n)
  {
          margin-right:10px;
  }
 
  /* footer */
  #footer-container {
    width:100%!important;
  }
  #footer-container .footer-about .text {
    float:none;
    border:none;
    width:100%;
  }
  #footer-container .footer-about .social {
    margin-top: 10px;
    padding-left: 0px;
    width:100%;
  }
  
  .footer-about .social .soc-img {
    margin-right:5px;
  }
 
  #footer {
    width:auto;
    
  }
  #footer .column {
    width:100%;
    margin-bottom:10px;
  }
  #powered, #paymenticons {
    padding:0px!important;
    text-align:center;
    width:100%;
    float:none;
  }
  #footer .column #twitter_update_list {
    width:auto;
  }

}

/*  -------------------------------------------------------------------------------------  */
/*  ---  Wide Mobile Layout (480px)             -----------------------------------------  */
/*  -------------------------------------------------------------------------------------  */
/*  ---  Min width: 480px / Max width: 767px    -----------------------------------------  */

@media only screen and (min-width: 480px) and (max-width: 767px) {

  

}


/*  -------------------------------------------------------------------------------------  */
/*  ---  Retina displays                        -----------------------------------------  */
/*  ---  Overrides styles for devices with a    -----------------------------------------  */
/*  ---  device-pixel-ratio of 2+, such as iPhone 4     ---------------------------------  */

@media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min-device-pixel-ratio: 2) {



}